<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AF_EasyMenu::menu"
             title="Easy Menu"
             translate="title"
             module="AF_EasyMenu"
             sortOrder="1000"
             parent = "Magento_Backend::content"
             resource="AF_EasyMenu::menu"/>

        <add id="AF_EasyMenu::manage_top_menu" title="Manage Top Menu" translate="title"
             module="AF_EasyMenu"
             sortOrder="0"
             parent="AF_EasyMenu::menu"
             action="easymenu/item/add"
             resource="AF_EasyMenu::menu"/>
    </menu>
</config>
